@use "../custom" as *;
@use "../variables" as *;

.main-btn {
    color: var(--clr-accent-light);
    background: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--clr-accent);
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative;
    transition: all .3s;

    .btn-loader {
        padding: 10px 15px;
        
        @include media-breakpoint-down(lg) {
            padding: 5px;
        }
    }

    i {
        padding: 10px 15px;

        @include media-breakpoint-down(lg) {
            padding: 5px;
        }
    }

    .btn-text {
        padding: 10px 12px;
        letter-spacing: .5px;
        border-left: 1px dotted var(--clr-accent);

        @include media-breakpoint-down(lg) {
            font-size: .8rem;
            letter-spacing: 0;
            padding: 5px;
        }
    }

    &:hover {
        background: var(--clr-accent-light);
        color: var(--clr-dark-black);

        .btn-text {
            border-left: 1px dotted var(--clr-dark-black);
        }
    }

    &:active {
        background: var(--clr-accent-dark);
        top: 2px;
    }

    &:disabled {
        background: gray;
        cursor: not-allowed;
        border: 1px solid gray;
    }
}

// Line Btn

.line-btn {
    position: relative;
    color: var(--clr-accent);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: var(--clr-accent);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
        -webkit-transition: transform 250ms ease-in;
        -moz-transition: transform 250ms ease-in;
        -ms-transition: transform 250ms ease-in;
        -o-transition: transform 250ms ease-in;
    }

    &:hover {
        color: var(--clr-accent-dark);
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}