@use "../variables" as *;

.main-btn {
    background: var(--clr-accent);
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative;

    i {
        padding: 10px 15px;
        border-right: 1px dotted var(--clr-light-black);
    }

    .btn-text {
        padding: 10px 12px;
        letter-spacing: .5px;
    }

    &:hover {
        background: var(--clr-accent-light);
    }

    &:active {
        background: var(--clr-accent-dark);
        top: 2px;
    }

    &:disabled {
        background: gray;
        cursor: not-allowed;
    }
}

// Line Btn

.line-btn {
    position: relative;
    color: var(--clr-accent);

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: var(--clr-accent);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
        -webkit-transition: transform 250ms ease-in;
        -moz-transition: transform 250ms ease-in;
        -ms-transition: transform 250ms ease-in;
        -o-transition: transform 250ms ease-in;
    }

    &:hover {
        color: var(--clr-accent-dark);
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}