@use "../custom" as *;

.circle {
    position: absolute;
    z-index: 2;

    @include media-breakpoint-down(lg) {
        z-index: -1;
    }
}

.circle-small {
    top: -15rem;
    left: -20rem;
}

.circle-home-small {
    bottom: -15rem;
    right: -20rem;

    @include media-breakpoint-down(lg) {
        display: none;
    }
}