@use "../custom" as *;
@use "../variables" as *;

.load-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-dark-black);
    z-index: var(--z-4);

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .letter-holder {
        font-weight: 300;
        letter-spacing: 5px;

        .letter {
            float: left;
            font-size: 4.5rem;
            color: var(--clr-accent);
            text-transform: uppercase;

            animation-name: loadingF;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-direction: linear;

            @include media-breakpoint-down(md) {
                font-size: 3rem;
            }

            @include media-breakpoint-down(sm) {
                font-size: 2.5rem;
            }
        }
    }

}


.l-1 {
    animation-delay: 0.48s;
}

.l-2 {
    animation-delay: 0.6s;
}

.l-3 {
    animation-delay: 0.72s;
}

.l-4 {
    animation-delay: 0.84s;
}

.l-5 {
    animation-delay: 0.96s;
}

.l-6 {
    animation-delay: 1.08s;
}

.l-7 {
    animation-delay: 1.2s;
}

.l-8 {
    animation-delay: 1.32s;
}

.l-9 {
    animation-delay: 1.44s;
}

.l-10 {
    animation-delay: 1.56s;
}


@keyframes loadingF {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}