@use "../custom" as *;
@use "../variables" as *;

.blogDetail{
    position: relative;
    padding: 5rem 0;

    .blog{
        margin: 5rem 0;
        position: relative;
        z-index: 5;

        &-heading{
            width: 60%;
            margin: 2rem auto;

            @include media-breakpoint-down(md){
                width: 100%;
            }
        }

        &-title{
            font-size: var(--lg-font);
            font-family: var(--title-font);
            margin-bottom: 1rem;
        }

        &-info{
            display: flex;
            font-size: var(--sm-font);

            @include media-breakpoint-down(md){
                display: block;
            }

            & > div{
                margin-right: 2rem;
                margin-top: 1rem;
            }

        }

        &-img{
            margin: 0 auto;
            width: 80%;
            height: 500px;

            @include media-breakpoint-down(lg){
                width: 100%;
                height: 400px;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-content{
            width: 60%;
            margin: 2rem auto;

            @include media-breakpoint-down(md){
                width: 100%;
            }

            h1{
                font-family: var(--title-font);
            }

            p{
                margin: 2rem 0;
                text-indent: 2rem;
            }

            ol, ul{
                margin: 1rem 0;
                list-style-position: inside;
            }
        }

        &-loveBtn{
            margin-bottom: 1rem;

            h1{
                font-family: var(--title-font);
                margin: 1rem 0;
            }

        }

    }

    .related-posts {

        .title{
            margin-bottom: 1rem;

            h1{
                position: relative;
                font-family: var(--title-font);
                margin-bottom: 1rem;
                padding-bottom: .5rem;

                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 3rem;
                    height: 2px;
                    background-color: var(--clr-accent);
                }
            }
        }

        .posts-container{

            .post-item{
                margin: 1rem 0;
            }
        }
    }
}


