@use "../custom" as *;
@use "../variables" as *;


/*===== Start Projects Section =====*/

.projects{

    .projects__intro{
        h1{
            font-family: var(--title-font);
        }

        span{
            float: right;
            text-decoration: underline wavy var(--clr-accent);
        }
    }

    &__container{
        position: relative;

        .projects__bgText{
            position: absolute;
            top: -80px;
            left: 0;
            z-index: -1;
            line-height: 10rem;
            width: 100%;
            height: 110%;
            font-family: var(--title-font);
            overflow: hidden;

            span{
                font-size: 30rem;
                letter-spacing: 3rem;
                color: transparent;
                -webkit-text-stroke: 1px rgba(0, 0, 0, .5);
            }

            @include media-breakpoint-down(sm){
                display: none;
            }

        }

        .project-item{
            margin-bottom: 50px;

            &:nth-child(odd){
                .project_content{
                    flex-direction: row-reverse;
                }

                .action-btns{
                    text-align: left;
                }
            }

            .action-btns{
                text-align: right;
                padding: 2rem 0;
                border-bottom: 1px solid rgba(255, 255, 255, .2);

                form{
                    display: inline;
                    margin-left: 1rem;
                }
            }

            .project_content{
                padding: 2em 0;
                display: flex;
                gap: 5rem;

                @include media-breakpoint-down(lg){
                    display: block;
                }

                & > div{
                    flex: 1 1;
                }

                img{
                    max-width: 100%;
                    height: auto;
                }

                .project{

                    @include media-breakpoint-down(md){
                        margin-top: 2rem;
                    }

                    &__main-title{
                        font-size: var(--lg-font);
                        font-weight: 300;
                        width: 100%;
                        border-bottom: 1px solid var(--clr-white);
                        padding-bottom: .8rem;
                        margin-bottom: 2rem;
                    }

                    &__sub-title{
                        font-size: 1.5rem;
                        padding-bottom: .8rem;
                        font-weight: 300;
                    }

                    &__name{
                        font-weight: 500;
                        display: inline-block;
                        margin-bottom: 1rem;
                    }
                }
            }
        }


    }
}
/*===== End Projects Section =====*/
